a {
    color: #2d78ae;
}

#livestreamPanel {
    background-color: #878c8c;
    background-image: url(images/light-bl.svg), url(images/light-br.svg);
    background-position: bottom left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 25em, 25em;
    color: #fff;
}

#livestreamButton:hover {
    background: rgba(255, 255, 255, 0.15);
}


.background_water {
    position: relative;
    display: block;
    overflow: hidden;
    margin: auto;
}

.water {
    position: absolute;
    background-image: url("/images/series/rescue-map.png");
    background-size: cover;
    margin: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: url("#turbulence");
}

#locationDetailsPanel {
    background-color: #878c8c;
    background-image: url(images/light-bl.svg), url(images/light-br.svg);
    background-position: bottom left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 25em, 25em;
    color: #fff;
}

/* Mobile */

@media screen and (max-width: 736px) {
    #locationDetailsPanel {
        background-size: 10em;
    }
}

/* Narrow */

@media screen and (max-width: 980px) {
    #locationDetailsPanel {
        background-size: 15em;
    }
}

#fallPanel {
    background-color: #75b4fc;
    background-image: url(images/light-bl.svg), url(images/light-br.svg);
    background-position: bottom left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 25em, 25em;
    color: #fff;
}
